/ParancssoriArgumentum/nbproject/private/
/ParancssoriArgumentum/build/
/Sorozat/nbproject/private/
/Sorozat/build/
/SzamtaniMertani/nbproject/private/
/SzamtaniMertani/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/KarakterSzam/nbproject/private/
/KarakterSzam/build/
/Haromszog/nbproject/private/
/Haromszog/build/
/Dobokocka/nbproject/private/
/Dobokocka/build/
